html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-family: 'Inconsolata', monospace;
  background-color: #3a3f41;
  color: white; }
  body h1, body h2, body h3 {
    font-family: 'Major Mono Display', monospace; }

h1 {
  font-size: 54px; }

nav div.nav-logo a {
  font-family: 'Major Mono Display', monospace; }

.transition {
  opacity: 0.2;
  transition: opacity 0.6s; }

img.transition {
  opacity: 0.1;
  transition: opacity 0.6s; }

.transition.active {
  transform: translateY(0%) translateX(0%) scale(1);
  opacity: 1; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: #3a3f41;
  background-color: #3a3f41;
  transition: transform 0.8s;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); }
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0; }
  nav a:hover {
    background-color: coral; }
  nav .nav-logo {
    margin: 10px;
    font-size: 18px; }
    nav .nav-logo a {
      color: coral; }
      nav .nav-logo a:hover {
        color: #3a3f41; }
  nav ul {
    padding-right: 15px;
    margin: 0; }
    nav ul li {
      display: inline; }

.minimised {
  transform: translateY(-45px);
  transition: transform 0.5s; }

.hero, #contact {
  background-color: coral; }

.hero-panel {
  padding: 120px 40px 0px 40px;
  flex-grow: 1; }

.hero {
  height: 115vh;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  margin-bottom: -10vw; }
  .hero h2 {
    font-size: 36px; }
  .hero h1, .hero h2, .hero p, .hero i {
    text-align: left;
    color: #3a3f41; }
  .hero a {
    flex-grow: 1; }
  .hero i {
    text-align: center;
    width: 100%;
    font-size: 60px;
    opacity: 0;
    transition: opacity 1.5s, transform 0.3s; }
  .hero i:hover {
    transform: scale(1.3); }
  .hero i.visable {
    opacity: 1; }
  .hero h2::after {
    content: 'I';
    width: 1em;
    height: 1em;
    color: rgba(0, 0, 0, 0);
    background-color: #3a3f41; }
  .hero .flash::after {
    animation: flash 0.9s infinite; }
@-webkit-keyframes flash {
  0% {
    opacity: 1; }
  49% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }
  .hero .hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid coral; }

.buffer {
  width: 100vw;
  height: 10vw; }

.work-buffer {
  background-color: coral; }

.project {
  display: flex;
  flex-wrap: wrap; }
  .project h3 {
    width: 100%; }
  .project img {
    display: inline-flex;
    width: 75%;
    padding-top: 16px; }

.container {
  width: 80vw; }

.columns {
  display: flex;
  flex-direction: row; }

.column {
  width: 50%; }

.about {
  background-color: #3a3f41;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0; }
  .about .png-icon {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    margin: 2px;
    border-radius: 2px; }
  .about .bulma {
    background-image: url(../assets/images/bulma-1.png); }
  .about .flask {
    background-image: url(../assets/images/flask-1.png); }
  .about .sqla {
    background-image: url(../assets/images/sqla-1.png); }
  .about .text-icon {
    padding: 8px; }
  .about .about-techList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 0px;
    justify-content: space-between; }
    .about .about-techList li {
      display: flex;
      flex-direction: column;
      background-color: #3a3f41;
      color: white;
      padding: 6px;
      height: 60px;
      width: 85px;
      border-radius: 4px;
      margin: 4px;
      text-align: center;
      align-items: center;
      justify-content: center; }
      .about .about-techList li i {
        font-size: 32px;
        display: inline-block; }

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3a3f41;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  margin-bottom: -10vw; }
  .work div.container {
    margin-top: 65px;
    margin-bottom: 10vw; }

.projectTitle__mobile {
  display: none; }

.project {
  margin-bottom: 150px; }
  .project ul {
    padding: 0; }
  .project li {
    display: inline; }
  .project a {
    color: coral;
    display: inline-block;
    text-decoration: none;
    border: 1px solid coral;
    border-radius: 4px;
    padding: 6px 10px;
    width: 150px;
    margin: 3px 6px 3px 0;
    text-align: center;
    transition: color 0.2s, background-color 0.2s; }
  .project a:hover {
    color: #3a3f41;
    background-color: coral; }
  .project .project-techList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .project .project-techList li {
      padding: 6px 0;
      width: 110px;
      text-align: center; }

#contact {
  background-color: coral;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #contact h2, #contact a, #contact p, #contact ul {
    color: #3a3f41;
    text-align: center;
    padding: 0; }
  #contact a {
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #3a3f41;
    border-radius: 4px;
    padding: 6px 10px;
    margin: 3px 3px;
    text-align: center;
    transition: color 0.2s, background-color 0.2s; }
  #contact a:hover {
    color: coral;
    background-color: #3a3f41; }
  #contact li {
    display: inline-block; }

.skip {
  display: none; }

@media all and (max-width: 991px) {
  .container {
    width: 90vw; }

  .project {
    margin-bottom: 100px; }
    .project img {
      width: 90%; } }
@media all and (max-width: 575px) {
  .projectTitle__mobile {
    display: inline; }

  .projectTitle {
    display: none; }

  .columns {
    display: block; }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .project {
    margin-bottom: 60px; }

  .skip {
    display: block;
    margin: 10px; }
    .skip:hover {
      background-color: #3a3f41; }

  nav {
    height: 60px; }

  /* Give the .nav ul a height when it's been opened, i.e. make it show */
  nav ul.open {
    max-height: 30em; }

  /* Hide and position the closed .nav ul */
  nav ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 60px;
    transition: max-height 0.25s ease-out;
    padding: 0;
    width: 100%; }

  /* Style the list items to appear under the menu link */
  nav ul li {
    text-align: right;
    display: block; }

  nav li a {
    padding: 0.5em;
    display: block;
    background-color: #3a3f41;
    font-size: 22px; }
    nav li a:hover {
      background-color: coral; }

  .minimised {
    transform: translateY(0); }

  .rotate {
    transform: rotate(180deg); } }

/*# sourceMappingURL=styles.css.map */
