$darkGrey: #3a3f41;
$darkOrange: #e55b20;
$darkOrange: coral;
$navHeight: 45px;

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-family: 'Inconsolata', monospace;
  h1, h2, h3 {
    font-family: 'Major Mono Display', monospace;
  }
  background-color: $darkGrey;
  color: white;
}



h1 {
  font-size: 54px;
}




nav div.nav-logo a {
  font-family: 'Major Mono Display', monospace;
}

.transition {
  // transform: translateY(15%) scale(0.95);
  // transform: translateY(30%) scale(0.9);
  opacity: 0.2;

  transition: opacity 0.6s;
}

img.transition {
  opacity: 0.1;

  transition: opacity 0.6s;
}

.transition.active {
  transform: translateY(0%) translateX(0%) scale(1);
  // transform: translateY(0%) scale(1);
  opacity: 1;

}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: #3a3f41;
  background-color: $darkGrey;
  transition: transform 0.8s;


  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

  a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0;

  }
  a:hover{

    background-color: $darkOrange;

  }

  .nav-logo {
    margin: 10px;
    font-size: 18px;

    a {
      color: $darkOrange;
    }
  }

  ul {
    padding-right: 15px;
    margin: 0;
    li {
      display: inline;
      // margin: 10px;

    }
  }
}

.minimised {
  // height: 0px;
  // display: hidden;
  transform: translateY(-45px);
  transition: transform 0.5s;
  // a {
  //   color: black;
  //   text-decoration: none;
  //   padding: 0px 10px;
  // }
}

.hero, #contact {
  background-color: $darkOrange;
}

.hero-panel {
  padding: 120px 40px 0px 40px;
  // margin-bottom: 200px;
  // margin-left: 6vw;
  // margin-top: 160px;
  flex-grow: 1;
  // align-items: baseline;
}

.hero {

  height: 115vh;
  width: 100%;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));

  margin-bottom: -10vw;
  h2 {
    font-size: 36px;
  }

  h1, h2, p, i{
    text-align: left;
    color: $darkGrey;
  }

  a {
    flex-grow: 1;
  }

  i {
    text-align: center;
    width: 100%;
    font-size: 60px;
    // margin-bottom: 30vw;
    opacity: 0;
    transition: opacity 1.5s, transform 0.3s;
    // position: absolute;
    // top: 75vh;
  }

  i:hover{
    transform: scale(1.3);
  }

  i.visable {
    opacity: 1;
  }

  h2::after{
    content: 'I';
    width: 1em;
    height: 1em;
    color: rgba(0,0,0,0.0);
    background-color: $darkGrey;
  }

  .flash::after {
    animation: flash 0.9s infinite;
  }

  @-webkit-keyframes flash {
    0%   { opacity: 1; }
    49%   { opacity: 1; }
    50% {opacity: 0}
    100% { opacity: 0; }
  }

  .hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    // flex: s
    justify-content: space-around;
    // align-items: center;
    // width: 100vw;
    border: 1px solid $darkOrange;
  }

}

.buffer {
  width: 100vw;
  height: 10vw;
  // background-color: red;
}

.work-buffer {
  background-color: $darkOrange;
}

.project {
  display: flex;
  flex-wrap: wrap;
  h3 {
    width: 100%;
  }
  img {
    display: inline-flex;
    // height: 200px;
    width: 75%;
    padding-top: 16px;
  }
}

.container {
  width: 80vw;
  // margin: auto;

}

.columns {
  display: flex;
  flex-direction: row;

}
.column {
  width: 50%;
}

.about {
  background-color: $darkGrey;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  div.container {
    // border: 1px solid red;
    // margin-top: calc(65px - 10vw);
  }

  // -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  // clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  //
  // margin-bottom: -10vw;

}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $darkGrey;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));

  margin-bottom: -10vw;

  div.container {
    margin-top: 65px;
    margin-bottom: 10vw;
  }
}

.projectTitle__mobile {
  display: none;
}

.project {
    margin-bottom: 150px;
    ul {
      padding: 0;
    }
    li {
      display: inline;
    }

    a {
      color: $darkOrange;
      display: inline-block;
      text-decoration: none;
      border: 1px solid $darkOrange;
      border-radius: 4px;
      padding: 6px 10px;
      width: 150px;
      margin: 3px 6px 3px 0;
      text-align: center;
      transition: color 0.2s, background-color 0.2s;
    }
    a:hover {
      color: $darkGrey;
      background-color: $darkOrange;
    }

}

#contact {
  background-color: coral;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  h2, a, p, ul {
    color: $darkGrey;
    text-align: center;
    padding: 0;
  }

  a {
    border-radius: 4px;
    display: inline-block;
    // color: $darkGrey;

    text-decoration: none;
    border: 1px solid $darkGrey;
    border-radius: 4px;
    padding: 6px 10px;
    // width: 150px;
    margin: 3px 3px;
    text-align: center;
    transition: color 0.2s, background-color 0.2s;
  }

  a:hover {
    color: $darkOrange;
    background-color: $darkGrey;
  }

  li {
    display: inline-block;



  }

}

.skip {
  display: none;
}

// ---------------------------- MEDIA QUERIES -----------------------------

@media all and (max-width: 1199px) {

}
@media all and (max-width: 991px) {
  .container {
    width: 90vw;
  }


  .project {
      margin-bottom: 100px;
      img {
        width: 90%;
      }
  }


}
@media all and (max-width: 768px) {

}
@media all and (max-width: 575px) {
  // MOBILE
  .projectTitle__mobile {
    display: inline;
  }
  .projectTitle {
    display: none;
  }

  .columns {
    display: block;

  }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .project {
      margin-bottom: 60px;
  }

  .skip {
    display: block;
    margin: 10px;
    &:hover {
      background-color: $darkGrey;
    }
  }

  $navHeight: 60px;

  nav {
    height: $navHeight;
  }
  /* Give the .nav ul a height when it's been opened, i.e. make it show */
  nav ul.open {
    max-height: 30em;
  }

  /* Hide and position the closed .nav ul */
  nav ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: $navHeight;
    transition: max-height 0.25s ease-out;
    padding: 0;
    width: 100%;
  }

  /* Style the list items to appear under the menu link */
  nav ul li {
    text-align: right;
    display: block;
  }

  nav li a {
    padding: 0.5em;
    display: block;
    background-color: $darkGrey;
    font-size: 22px;

    &:hover {
      background-color: $darkOrange;
    }
  }

  .minimised {
    transform: translateY(0);
  }

  .rotate{
    transform: rotate(180deg);
  }
}



@media all and (max-width: 400px) {


}
